 <img src="images/broad.jpg"  class="img-rounded img-responsive"/></p> 
    <div class="page-header" style="margin-top: 0px;">
        <h2>Intern</h2>
        <h3 class="location">Broad Institute of Harvard and MIT, Bioinformatics Research Platform</h3>
    </div>

<div class="row marketing"  style="margin-top: 10px;"> 
    <p>  
      I spent my summer during 2012 in Boston, Massachusetts. A portion of my time during this period was spent at the Broad Institute where I worked on annotations for entries for the development of the <a href="https://bard.nih.gov/BARD/">BioAssay Research Database (BARD).</a> 
    </p>  
    <p>
      BARD is a large cross-center initiative funded by the NIH that is focused on creating a database to hold published data about chemicals and their biological activities for researchers and those in the pharmaceutical sector. It aims to provide researchers with well-organized and fully-annotated data and innovative tools to accelerate drug discovery.
    </p>  
    
</div>
