 <img src="images/dsilva.jpg"  class="img-rounded img-responsive"/></p> 
    <div class="page-header" style="margin-top: 0px;">
        <h2 id="timeline">Contact</h2>
    </div>

<div class="row marketing"  style="margin-top: 10px;">  
    <p> 
      To reach me, email works best. If you're interested in collaborating on a project - I'm always willing to hear new ideas! It's also my dream to play Éponine in Les Misérables, so if you're looking for innate but unproven talent feel free to get in touch. 
  	</p> 
  	<br /> 
  	<p>
  		<a href="mailto:krittika.dsilva@gmail.com" role="button" target="_blank" class="btn-social btn-google" style="color:black">
			<i class="fa fa-google fa-2x"></i> 
		</a>
		krittikadsilva (at) gmail.com
  	</p>

  	<p>		 
  		<a href="http://github.com/kritts" role="button" target="_blank" class="btn-social btn-github" style="color:black">
			<i class="fa fa-github fa-2x"></i>
		</a> 
		github.com/kritts 
  	</p> 
 	
 	<p>
 		<a href="http://www.linkedin.com/in/krittikadsilva" role="button" target="_blank" class="btn-social btn-linkedin" style="color:black	">
			<i class="fa fa-linkedin fa-2x"></i>
		</a>
		linkedin.com/in/krittikadsilva
  	</p>
 	<p>
 		<a href="https://www.twitter.com/krittikadsilva" role="button" target="_blank" class="btn-social btn-twitter" style="color:black	">
			<i class="fa fa-twitter fa-2x"></i>
		</a>
		twitter.com/krittikadsilva
  </p>

</div>
