 

<div class="row marketing"  style="margin-top: 50px; margin-bottom: 100px;"> 
	<div class="row">

		<div class="col-md-2">
			<div class="single-item"  style="margin-top: 30px;">
				<div class="item-image" style="height: 50px;">
					<a href="#/experiences/google" style="color:black"><img src="images/google.jpeg" class="work"></a>	
				</div>
				<a href="#/experiences/google"> 
				<h2 class="year">Summer 2015</h2> </a>
				<p> 
				Software Engineering Intern at Google in Mountain View, CA. 
				</p>

			</div>
		</div>


		<div class="col-md-2">
			<div class="single-item"  style="margin-top: 30px;">
				<div class="item-image" style="height: 50px;">
					  <a href="#/experiences/ictd" style="color:black"><img src="images/cse.png" class="work"></a>
				</div>
				<a href="#/experiences/ictd"> 
				<h2 class="year">2013 - 2015</h2></a>
				 
				<p> 
				Researcher within the Department of CSE at UW
				</p>

				
			</div> 
		</div>

		<div class="col-md-2">
			<div class="single-item"  style="margin-top: 30px;">
				<div class="item-image" style="height: 50px;">
				  <a href="#/experiences/msr" style="color:black"><img src="images/msr.png" class="work"></a>	
				</div>
				<a href="#/experiences/msr"> 
					<h2 class="year">Summer 2014</h2> </a>
					<p> 
					Research Intern at Microsoft Research in Bangalore, India
					</p>
					
			</div> 
		</div>
	
 
		<div class="col-md-2">
			<div class="single-item"  style="margin-top: 30px;">
				<div class="item-image" style="height: 50px;">
					<a href="#/experiences/bioe" style="color:black"><img src="images/bioe.png" class="work"></a>	
				</div>
				<a href="#/experiences/bioe"> 

				<h2 class="year">2011 - 2013</h2> </a>
				<p> 
				Researcher within the Department of Bioengineering at UW
				</p>
				
			</div> 
		</div>

		<div class="col-md-2">
			<div class="single-item"  style="margin-top: 30px;">
				<div class="item-image" style="height: 50px;">
					<a href="#/experiences/broad" style="color:black"><img src="images/broad.jpeg" class="work"></a>	
				</div>
				<a href="#/experiences/broad"> 
				<h2 class="year">Summer 2012</h2> </a>
				<p> 
				Intern at the Broad Institute of Harvard and MIT in Boston, MA
				</p>

			</div>
		</div>
	 
	</div>
</div>









