<img src="images/google_lon.png"  class="img-rounded img-responsive work"/></p> 
    <div class="page-header" style="margin-top: 0px;">
        <h2>Software Engineering Intern</h2>  
        <h3 class="location">Google Chrome</h3>
    </div> 
<div class="row marketing"  style="margin-top: 10px;"> 
    <p class="info">  
    During my internship, I worked on the Chrome team. Specifically, I worked on Blink, the rendering engine used by Chromium. I build a number of features for Chrome's default media controls including a download and overflow button.
    My code during the internship is open source and available at the <a href="https://codereview.chromium.org/search?owner=kdsilva">following URL</a>.</p>
    If you're opening this site in Chrome, examples of these two buttons can be seen below:

    <video width="320" height="240" controls>
        <source src="images/movie.mp4" type="video/mp4">
    </video>
</div>
