 <img src="images/dsilva_google.png"  class="img-rounded img-responsive work"/></p> 
    <div class="page-header" style="margin-top: 0px;">
        <h2>Software Engineer</h2>  
        <h3 class="location">Google (Streams, Photos, and Sharing)</h3>
    </div> 
<div class="row marketing"  style="margin-top: 10px;"> 
    <p class="info">  
  	This summer, I worked at Google at their headquarters in Mountain View, California. The overarching team that I worked for was  Streams, Photos, and Sharing. This team is responsible for creating numerous Google products, including Google Hangouts, Plus, and Photos. I worked on the Android Toolkit team. My team consisted of around a dozen people who worked to develop a reusable framework for numerous Google products. I worked on developing Android animations and creating a library that made it simple for developers to use these animations within any of their software applications.  
  	</p>  
</div>
