<div class="row marketing">
    <div class="page-header" style="margin-top: 0px;">
        <h2 id="timeline">Leadership Activities</h2>
    </div>
   
  <p  style="margin-top: 10px;">
      It's hard to argue that leadership isn't an important skill to have.
      Although I've taken a few classes that focusing on cutivating the leaderhsip skills, I feel like I've learned the most from being out in the field. Whether it's standing in front of a group of 30 student leading a Python review session or coordinating to organize a biomedical journal club, I feel like I've grown a lot as a leader from the xperiecnes htat I've had. If you'd like to read a little bit about what I've done, I've included a few details below. 
  </p>
  
  <h4>Teaching</h4> 
    <p>I really enjoy teaching others. </p>
  <ul style="list-style: none;">
    <li>  <p><b>CSE 140: Data Programming </b> <a href="http://courses.cs.washington.edu/courses/cse140/14wi/">(url)</a></p>
          <p>  
            I taught a section of CSE 140 in spring 2014. This class is especially close to my heart because on year prior it was the first computer science class I had ever taken. My roles as a teaching assistant were to teach a weekly 50 minute section of 20 students, grade homework assignments, and conduct weekly office hours to help students with any programming questions that they had.  
          </p>
    </li> 
    <li>  <p><b>HONORS 100</b> </p>
          <p> During the fall quarter of my sophomore year, I worked as a teaching assitant for an intrudctory  


          </p>
    </li>  
   </ul>

  <h4>Clubs</h4> 
  <ul style="list-style: none;">
    <li>  <p><b>Biomedical Journal Club</b> </p>
          <p> http://courses.cs.washington.edu/courses/cse140/14wi/ 


          </p>
    </li>  
   </ul>

  <h4>Mentorship & Outreach</h4> 
  <ul style="list-style: none;">
    <li>  <b>Undergraduate Research Leader</b> 
          <p>  
            asdasd
          </p>
    </li> 
    <li>  <b>Emerging Leaders in Engineering</b> 
          <p> test 
 
          </p>
    </li>  

     <li>  <b>Peer Mentor: UW Honors Program</b> 
          <p> test 
 
          </p>
    </li>  

     <li>  <b>Computer Science Outreach</b> 
          <p> test 
 
          </p>
    </li>  
   </ul>


</div>
