<div class="row marketing " id='mainWriteup'> 
<div>
  <img src="images/k_profile.png"  class="img-rounded img-responsive" 
    id="profile" alt="Krittika D'Silva"/>
</div>

<div>
<p>
I am a first-year PhD student in the Computer Laboratory at the University of Cambridge 
where I work under the supervision of <a href="http://www.cl.cam.ac.uk/~cm542/index.html" 
  target="_blank">Cecilia Mascolo.</a> I am a member of Jesus College and a 
<a href="https://www.gatescambridge.org/members-area/connect/directory/scholar/9532" 
  target="_blank">Gates Cambridge Scholar</a>.</p> 
<p>
As an undergraduate at the University of Washington I studied Bioengineering and 
Computer Engineering and worked in three research labs. Advised by 
  <a href="http://depts.washington.edu/bioe/portfolio-items/sanders/"
  target="_blank">Joan Sanders</a>, 
  <a href="http://www.rehab.washington.edu/education/faculty/nonproviderbios/hafner.asp"
  target="_blank">Brian Hafner</a>, and 
  <a href="https://www.linkedin.com/pub/john-cagle/7/8b8/179" 
  target="_blank">John Cagle</a>, 
  I worked for two years designing devices to improve prosthetic socket fit for individuals with lower limb amputations.
  For the following two years, I worked in the Information and Communication Technologies
  for Development (ICTD) lab building technology for low resource settings. 
  I was advised by <a href="http://homes.cs.washington.edu/~gaetano/" target="_blank">
    Gaetano Borriello</a> and <a href="http://nixdell.com" target="_blank">Nicki Dell</a>.
  In my final year, I worked with <a
  href="https://www.cs.washington.edu/people/faculty/luisceze" 
  target="_blank">Luis Ceze</a> and <a 
  href="http://research.microsoft.com/en-us/people/kstrauss/" target="_blank">
  Karin Strauss</a> researching ways in which DNA molecules can be used for long-term data storage. 
</p>

<p>
At Cambridge, I serve as the Gates Scholars' Council Technology Officer, Jesus College MCR Committee Webmaster, and ACMW-UK Communication Officer. 
In my spare time, I enjoy birdwatching, acrylic painting, and biking.
</p>

<p>
You can find my resume <a href="pdfs/Krittika_DSilva_Resume.pdf" target="_blank">here</a>.
</p> 

</div>
</div>
