 
<div class="row marketing " style="margin-top: 50px;">
	<img src="images/DSilva-001.jpg"  class="img-rounded img-responsive left" style="margin-top: 5px; padding: 10px; height=50px;" /></p> 
	<p>
		I am a senior at the University of Washington in Seattle, WA where I am working towards a double degree in Computer Science and Bioengineering. I will be graduating in June 2016.
	</p> 
	<p>
	    Currently, I work as a researcher in the Information and Communication Technologies for Development (ICTD) lab within the Department of Computer Science and Engineering.  My work focuses on mobile systems, specifically those targeted at low resource settings. My advisors are <a href="http://homes.cs.washington.edu/~gaetano/" target="_blank" title="" style="">Gaetano Borriello</a> and <a href="http://nixdell.com" target="_blank" title="" style="">Nicki Dell</a>.
	</p>
	<br />
	<p>	 
		Prior to joining the ICTD lab, I worked for two and a half years as a researcher within the Department of Bioengineering. I was advised by <a href="http://depts.washington.edu/bioe/portfolio-items/sanders/" target="_blank" title="" style="">Joan Sanders</a>, <a href="http://www.rehab.washington.edu/education/faculty/nonproviderbios/hafner.asp" target="_blank" title="" style="">Brian Hafner</a>, and <a href="https://www.linkedin.com/pub/john-cagle/7/8b8/179" target="_blank" title="" style=""> John Cagle</a>. My research focused on designing devices to improve prosthetic socket fit and reduce discomfort for individuals with lower limb amputations.  
	</p>
	<p>
		You can find my resume <a href="pdfs/Krittika_DSilva_Resume.pdf" target="_blank">here</a>.
	</p> 

	<div class="page-header" style="margin-top: 40px;"> 
		<h4>News Highlights</h4>
	</div>
	<ul> 
		  <li> 
		  	<b>March 18, 2015: </b><a href="http://depts.washington.edu/bioe/students-smartphone-apps-connect-remote-populations-to-health-care-help/" target="_blank">An article </a>was published by the Department of Bioengineering about my research work!
		  </li>

		  <li>
		  	<b>December 12, 2014: </b>Our paper "Mobile Touch-Free Interaction for Global Health" has been accepted for publication at the ACM Workshop on Mobile Computing Systems and Applications (HotMobile) to be held in Santa Fe in February 2015.
		  </li> 

		 <li>
		  	<b>December 3, 2014: </b> Our journal paper "Amputee socks: Sock thickness changes with normal use" has been accepted for publication in the 38th volume of <a href="http://poi.sagepub.com/content/early/2015/03/02/0309364614568412.abstract?rss=1" target="_blank">Prosthetics and Orthotics International</a>.
		  </li> 

		  <li>   
		  	<b>September 30 2014: </b>National Geographic has published an article about our CGNet Swara application! It's available online <a href="http://news.nationalgeographic.com/news/2014/09/140926-naxalites-maoists-india-adivasi-phone-app-technology/" target="_blank">here.</a>
		  </li> 
	   </ul> 
	 <div class="page-header" style="margin-top: 40px;">   </div>
	<p>
		You can find more detailed news <a href="#/news" target="_blank">here</a>.
	</p>

</div>
