 <img src="images/india.jpg"  class="img-rounded img-responsive"/></p> 
    <div class="page-header" style="margin-top: 0px;">
        <h2>Research Intern</h2>
        <h3 class="location">Microsoft Research (Technology for Emerging Markets Group)</h3>
    </div> 
  
<div class="row marketing"  style="margin-top: 10px;">  

    <p class="info">  
    I spent the summer of 2014 at Microsoft Research in Bangalore where I was visiting under the <a href="http://research.microsoft.com/en-us/groups/tem/alumni.aspx">Catalyst program.</a>
    I worked closely with <a href="http://cgnetswara.org/"> CGNet Swara</a>, a voice-based citizen journalism platform in India, to develop an Android application to support their work. Millions of people in India lack access to any mainstream media outlets. CGNet Swara is a voice portal that aims to provide those individuals with a means to report and discuss information of their interest. Users of the forum place a phone call to a system which then prompts them to either record a message or listen to previously recorded messages. I worked on the design, development, and pilot deployment of a mobile application that allows users to contribute and listen to CGNet Swara. As the price of smartphones decreases, the accessibility and prevalence of smartphones are expected to increase, especially in developing regions. The motivation behind 
    the mobile application was to reduce operational costs of the system, enable offline access for the users, and provide the option for images to be shared in addition to audio recordings.  
    </p>

    <p class="info">  
    For more details about the project, take a look at our short note published in <a href="pdfs/DSilva_DEV14.pdf">ACM DEV 2014</a>. A summary of our pilot deployment of the mobile application was published online in <a href="http://news.nationalgeographic.com/news/2014/09/140926-naxalites-maoists-india-adivasi-phone-app-technology/">National Geographic.</a> 
    </p>  

    <p class="info">  
    The target audience for our app was individuals with low levels of comfort with technology. As a result, creating a user interface that was simple and intuitive to use was imperative throughout the design process. After around 7 weeks into the summer, I made a short trip to Dewas, Madhya Pradesh, to conduct pilot testing and understand and improve the usability of the application. Over the course of two days, I trained 50 people, many of whom had never used a smartphone before, to use the application. Observing their interaction with the app and listening to their thoughts about it led to extremely valuable feedback that was then incorporated into the application. 
    </p>
 
    <p class="info">  
    After the alpha version of the application was completed, we held a second two-day workshop in Bhopal where we trained 25 participants to use the application. The application has been used in the field since September 15, 2014. Within the first month of deployment, CGNet Swara published 44 posts that were submitted via the application, including 34 that had photos attached. Following this workshop, I traveled with the <a href="http://www.swarayatra.org/">CGNet Swara Yatra team</a> throughout rural India (the districts we visited included Koriya, Jabalpur, and Dindori). I ate and slept on the ground, drank black tea with the Adivasi, and experienced a part of India I had never seen before.
    </p>
 
</div>
