
<div class="row marketing">
    <div class="page-header" style="margin-top: 0px;">
        <h2 id="timeline">News</h2>
    </div>
 
    <b>April 15, 2015</b>
    <p>
      I am looking forward to presenting a talk about my research at <a href="http://www.washington.edu/undergradresearch/symposium/" target="_blank">UW's 18th Annual Undergraduate Research Symposium</a> in May.
    </p>

    <b>March 18, 2015</b>
    <p>
      <a href="http://depts.washington.edu/bioe/students-smartphone-apps-connect-remote-populations-to-health-care-help/" target="_blank">An article </a>was published by the Department of Bioengineering about my research work!
    </p>

    <b>March 13, 2015</b> 
    <p>
      I am honored to receive the Mary Gates Research Scholarship for my work on mobile diagnostics!
    </p>

    <b>February 3, 2015</b>
    <p>
      I am honored to receive the Russell/Thompson Legacy Mentoring Book Scholarship.
    </p>

    <b>January 5, 2015</b>
    <p>
      I am honored to have received the Society of Women Engineers Outstanding Female Departmental Award through the Department of Computer Science and Engineering.
    </p>
   
    <b>December 12, 2014</b>
    <p>
      Our paper "Mobile Touch-Free Interaction for Global Health" has been accepted for publication at the ACM Workshop on Mobile Computing Systems and Applications (HotMobile) to be held in Santa Fe in February 2015.
    </p>

    <b>December 3, 2014</b>
    <p>
      Our journal paper "Amputee socks: Sock thickness changes with normal use" has been accepted for publication in the 38th volume of <a href="http://poi.sagepub.com/content/early/2015/03/02/0309364614568412.abstract?rss=1" target="_blank">Prosthetics and Orthotics International</a>.
    </p> 

    <b>December 1, 2014</b>
    <p>
      Internet.org featured <a href="https://www.youtube.com/watch?v=iyVYgq8o2-k" target="_blank">a short clip</a> about our mobile app for CGNet Swara.  
    </p>

    <b>November 26, 2014</b>
    <p>
      I'm happy to share I've accepted an offer to intern at Google during summer 2015! I'll be working on the Android infrastructure team for Google+ in Mountain View. 
    </p>

    <b>October 16, 2014</b>
    <p>
      Our poster paper <a href="pdfs/DSilva_DEV14.pdf">"A Mobile Application for Interactive Voice Forums: Design and Pilot Deployment in Rural India"</a> has been accepted for publication at the ACM Conference on Computing for Development (DEV) to be held in San Jose in December 2014. 
    </p>

    <b>October 13, 2014</b>
    <p>
      I am honored to have received the <a href="http://www.washington.edu/undergradresearch/students/funding/levinson/scholars/">Levinson Emerging Scholar</a> award for the 2014-15 academic year. 
    </p>
 
    <b>September 30 2014</b>
    <p>
      National Geographic has <a href="http://news.nationalgeographic.com/news/2014/09/140926-naxalites-maoists-india-adivasi-phone-app-technology/" target="_blank">published an article</a> about our CGNet Swara application!
    </p>
   
    <b>September 12 2014</b>
    <p>
      I am honored to have received the <a href="http://depts.washington.edu/eip/Presidential%20and%20Boeing.htm">EIP  Presidential Scholarship</a> for the 2014-15 academic year.
    </p> 

    <b>August 4 2014</b>
    <p>
      I am looking forward to serving as the Student Representative on the Bioengineering Curriculum Committee for the 2014-2015 academic year.
    </p> 
 

    <b>June 20 2014</b>
      <p>
        I'm looking forward to attending the 2014 Grace Hopper Celebration of Women in Computer Science with generous funding through the UW Department of Computer Science and Engineering.
      </p> 

    <b>June 2 2014</b>
      <p>
        I'm thankful to have received the Priscilla and Melvin Wilson Endowed Scholarship and invited to join the <a href="http://www.engr.washington.edu/curr_students/studentprogs/emergingleaders.html">Emerging Leaders in Engineering Program</a> next year.
      </p> 

    <b>March 15 2014</b>
      <p>
        I'm looking forward to spending the summer at Microsoft Research in Bangalore, India on the <a href="http://research.microsoft.com/en-us/groups/tem/default.aspx">Technology for Emerging Markets</a> team.
      </p> 
   
</div>