
<div class="row marketing">
    <div class="page-header" style="margin-top: 0px;">
        <h2 id="timeline">Recent news</h2>
    </div>
 
    <ul class="timeline"> 

 <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
       <li class="timeline-inverted">
          <div class="timeline-badge warning">
            <i class="glyphicon glyphicon-star"></i>
          </div>

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                New and exciting research project!
              </h4>
              <p>
                <small class="text-muted">
                  <i class="glyphicon glyphicon-time"></i> 
                  October 1 2015
                </small>
              </p>
            </div>

            <div class="timeline-body">
                 <p>
                    I'm looking forward to working with Luis Ceze this year engineering DNA molecules for data storage.    
                </p>
            </div>
          </div>
        </li> 

 <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <li>  
          <div class="timeline-badge"> 
            <i class="glyphicon glyphicon-pushpin"></i>
          </div>

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                Gold Duke of Edinburgh's Award
              </h4>
              <p>
                <small class="text-muted">
                  <i class="glyphicon glyphicon-time"></i> 
                  September 23 2015
                </small>
              </p>
            </div>

            <div class="timeline-body">
                 <p>
                    I have received the Duke of Edinburgh's Gold Award!
                </p>
            </div>
          </div>
        </li>  


 <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <li class="timeline-inverted">
          <div class="timeline-badge info">
            <i class="glyphicon glyphicon-bookmark"></i>
          </div>

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                News article in BBC India  
              </h4>
              <p>
                <small class="text-muted">
                  <i class="glyphicon glyphicon-time"></i> 
                  July 15 2015
                </small>
              </p>
            </div>

            <div class="timeline-body">
                 <p>
                    Although not in English, I am excited to share <a href="http://www.bbc.com/hindi/india/2015/07/150715_digital_jugaad_india_pa" target="_blank">an article published by BBC India</a> about our CGNet Swara mobile application.  
                </p>
            </div>
          </div>
        </li> 

 <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
 
        <li>
          <div class="timeline-badge danger">
            <i class="glyphicon glyphicon-bookmark"></i>
          </div>

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                Article published by Undergraduate Academic Affairs 
              </h4>
              <p>
                <small class="text-muted">
                  <i class="glyphicon glyphicon-time"></i> 
                  May 13 2015
                </small>
              </p>
            </div>

            <div class="timeline-body">
                 <p>
                    Dean Ed Taylor higlighted my research work in his <a href="http://www.washington.edu/uaa/2015/05/13/message-from-vice-provost-and-dean-ed-taylor-4/">e-newsletter</a> to UW undergraduates. 
                </p>
            </div>
          </div>
        </li>


 <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
 
        <li class="timeline-inverted">
          <div class="timeline-badge">
            <i class="glyphicon glyphicon-bookmark"></i>
          </div>

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                Article published by the Department of Bioengineering
              </h4>
              <p>
                <small class="text-muted">
                  <i class="glyphicon glyphicon-time"></i> 
                  March 18 2015
                </small>
              </p>
            </div>

            <div class="timeline-body">
                 <p>
                    <a href="http://depts.washington.edu/bioe/students-smartphone-apps-connect-remote-populations-to-health-care-help/" target="_blank">An article </a>was published by the Department of Bioengineering about my research work!
                </p>
            </div>
          </div>
        </li>
 <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <li>
          <div class="timeline-badge success">
            <i class="glyphicon glyphicon-pushpin"></i>
          </div>

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                Mary Gates Research Scholarship
              </h4>
              <p>
                <small class="text-muted">
                  <i class="glyphicon glyphicon-time"></i> 
                  March 13 2015
                </small>
              </p>
            </div>

            <div class="timeline-body">
                 <p> 
                  I have receive the Mary Gates Research Scholarship for my work on mobile diagnostics. Thanks to the Undergraduate Research Program for their support!
                  </p> 
            </div>
          </div>
        </li>


 <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

        <li class="timeline-inverted">
          <div class="timeline-badge danger">
            <i class="glyphicon glyphicon-ok"></i>
          </div>

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                Journal publication accepted
              </h4>
              <p>
                <small class="text-muted">
                  <i class="glyphicon glyphicon-time"></i> 
                  March 1 2015
                </small>
              </p>
            </div>

            <div class="timeline-body">
             <p>Our journal paper "Amputee socks: Sock thickness changes with normal use" has been accepted for publication in the 38th volume of <a href="http://poi.sagepub.com/content/early/2015/03/02/0309364614568412.abstract?rss=1" target="_blank">Prosthetics and Orthotics International</a>.</p>
            </div>
          </div>
        </li>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

        <li>  
          <div class="timeline-badge info">
            <i class="glyphicon glyphicon-pushpin"></i>
          </div>

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                Russell/Thompson Legacy Mentoring Book Scholarship
              </h4>
              <p>
                <small class="text-muted">
                  <i class="glyphicon glyphicon-time"></i> 
                  February 3 2015
                </small>
              </p>
            </div>

            <div class="timeline-body">
             <p>I have receive the Russell/Thompson Legacy Mentoring Book Scholarship. Thanks to the University of Washington for their support!</p>
            </div>
          </div>
        </li>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

        <li class="timeline-inverted">
          <div class="timeline-badge success">
            <i class="glyphicon glyphicon-pushpin"></i>
          </div>

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                Society of Women Engineers Outstanding Female Departmental Award
              </h4>
              <p>
                <small class="text-muted">
                  <i class="glyphicon glyphicon-time"></i> 
                  January 5 2015
                </small>
              </p>
            </div>

            <div class="timeline-body">
             <p>I have received the Society of Women Engineers Outstanding Female Departmental Award. Thanks to the Department of Computer Science and Engineering for the nomination!</p>
            </div>
          </div>
        </li>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

        <li> 
          <div class="timeline-badge">
            <i class="glyphicon glyphicon-ok"></i>
          </div>

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                Conference paper accepted
              </h4>
              <p>
                <small class="text-muted">
                  <i class="glyphicon glyphicon-time"></i> 
                  December 12 2014
                </small>
              </p>
            </div>

            <div class="timeline-body">
              <p>Our paper "Mobile Touch-Free Interaction for Global Health" was  accepted for publication at the ACM Workshop on Mobile Computing Systems and Applications (HotMobile) in Santa Fe in February 2015. </p>
            </div>
          </div>
        </li>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

        <li class="timeline-inverted">
          <div class="timeline-badge info">
            <i class="glyphicon glyphicon-bookmark"></i>
          </div>

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                Internet.org featured short film about CGNet Swara application
              </h4>
              <p>
                <small class="text-muted">
                  <i class="glyphicon glyphicon-time"></i>
                  December 1 2014
                </small>
              </p>
            </div>

            <div class="timeline-body">
              <p>Internet.org featured a short clip about our mobile app for CGNet Swara. It is now <a href="https://www.youtube.com/watch?v=iyVYgq8o2-k">available online.</a></p>
            </div>
          </div>
        </li>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
 
        <li> 
          <div class="timeline-badge danger">
            <i class="glyphicon glyphicon-star"></i>
          </div>

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                Summer 2015 Internship at Google
              </h4>
              <p>
                <small class="text-muted">
                  <i class="glyphicon glyphicon-time"></i>
                  November 26 2014
                </small>
              </p>
            </div>

            <div class="timeline-body">
              <p>I have accepted an internship offer at Google in Mountain View, California during the summer 2015. I will be working on the Android Social infrastructure team in Mountain View. </p>
            </div>
          </div>
        </li>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

        <li class="timeline-inverted">
          <div class="timeline-badge warning">
            <i class="glyphicon glyphicon-ok"></i>
          </div>

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                Conference poster paper accepted
              </h4>
              <p>
                <small class="text-muted">
                  <i class="glyphicon glyphicon-time"></i>
                  October 16 2014
                </small>
              </p>
            </div>

            <div class="timeline-body">
             <p>Our poster paper <a href="pdfs/DSilva_DEV14.pdf">"A Mobile Application for Interactive Voice Forums: Design and Pilot Deployment in Rural India"</a> has been accepted for publication at the ACM Conference on Computing for Development (DEV) to be held in San Jose in December 2014. </p>
            </div>
          </div>
        </li>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

         <li> 
          <div class="timeline-badge info">
            <i class="glyphicon glyphicon-pushpin"></i>
          </div>

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                Levinson Emerging Scholar award
              </h4>
              <p>
                <small class="text-muted">
                  <i class="glyphicon glyphicon-time"></i>
                  October 13 2014
                </small>
              </p>
            </div>

            <div class="timeline-body">
             <p>I am honored to have received the <a href="http://www.washington.edu/undergradresearch/students/funding/levinson/scholars/">Levinson Emerging Scholar</a> award for the 2014-15 academic year. </p>
            </div>
          </div>
        </li>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

         <li class="timeline-inverted">
          <div class="timeline-badge danger">
            <i class="glyphicon glyphicon-bookmark"></i>
          </div>

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                National Geographic article about CGnet Swara application
              </h4>
              <p>
                <small class="text-muted">
                  <i class="glyphicon glyphicon-time"></i> 
                  September 30 2014
                </small>
              </p>
            </div>

            <div class="timeline-body">
              <p>National Geographic has published an article about our CGNet Swara application. It's available online <a href="http://news.nationalgeographic.com/news/2014/09/140926-naxalites-maoists-india-adivasi-phone-app-technology/">here.</a></p>
            </div>
          </div>
        </li>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

        <li> 
          <div class="timeline-badge success">
            <i class="glyphicon glyphicon-pushpin"></i>
          </div>

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                EIP Presidential Scholar award
              </h4>
              <p>
                <small class="text-muted">
                  <i class="glyphicon glyphicon-time"></i>
                  September 12 2014
                </small>
              </p>
            </div>

            <div class="timeline-body">
             <p>I am honored to receive the <a href="http://depts.washington.edu/eip/Presidential%20and%20Boeing.htm">EIP  Presidential Scholarship</a> for the 2014-15 academic year. </p>
            </div>
          </div>
        </li>

    </ul>
</div>