<div class="row marketing">
    <div class="page-header" style="margin-top: 0px;">
        <h2 id="timeline">Publications</h2>
    </div>
  
  <p  style="margin-top: 10px;">
  	Included below are a list of my publications. Having worked in two fields of research during my time as an undergraduate, my publications reflect this dichotomy.
 
  </p>
  <h4>Conferences and Workshops </h4> 
  <ul style="list-style: none;">
	  <li> 
	  	Nicola Dell, <strong>Krittika D’Silva</strong>, and Gaetano Borriello. Mobile Touch-Free Interaction for Global Health. International Workshop on Mobile Computing Systems and Applications (HotMobile ’15). Feb 12-13, 2015, Santa Fe, New Mexico. <a href="pdfs/Dell_HotMobile14.pdf"> [pdf]</a> 
	  </li>

	  <li>   
	 	 <strong>Krittika D’Silva</strong>, John Cagle, and Joan Sanders. Quantifying Variations in Prosthetic Sock Thickness with Use. Northwest Chapter Academy of Orthotists and Prosthetists Chapter Meeting. May 4-5 2013, Bellevue, Washington.
	  </li>
  	   
	  <li>   
	  	<strong>Krittika D’Silva</strong>, John Cagle, and Joan Sanders. Quantifying Variations in Prosthetic Sock Thickness over Time. Academy Annual Meeting and Scientific Symposium. February 20-23 2013, Orlando, Florida. <a href="pdfs/DSilva_OP_2014.pdf">[pdf]</a> 
	  </li> 
   </ul> 

  <h4>Posters</h4> 
    <ul style="list-style: none;">
	  <li> 
	  <strong>Krittika D'Silva</strong>, Meghana Marathe, Aditya Vashistha, Gaetano Borriello, and William Thies. A Mobile Application for Interactive Voice Forums: Design and Pilot Deployment in Rural India. Poster in The fifth annual Symposium on Computing for Development (DEV 2014). December 5-6 2014, San Jose, California. <a href="pdfs/DSilva_DEV14.pdf">[pdf]</a> 
	</li>
	  	 
   </ul> 
 
  <h4>Journals</h4>  
    <ul style="list-style: none;">
	  <li>   
	  John Cagle, <strong>Krittika D’Silva</strong>, Brian Hafner, Daniel Harrison, and Joan Sanders. Amputee socks: Sock thickness changes with normal use. Prosthetics and Orthotics International. December 2014. <a href="pdfs/Cagle_POI_2015.pdf">[pdf]</a>
	  </li>
	</ul>

    <ul style="list-style: none;">
	  <li>  
	  <strong>Krittika D'Silva</strong>, Brian Hafner, Kate Allyn, and Joan Sanders. Self-reported prosthetic sock use among persons with transtibial amputation. Prosthetics and Orthotics International. Volume 38, Issue 4. Pages 321-31. July 2013. <a href="pdfs/DSilva_POI_2014.pdf">[pdf]</a>
	</li>
	  	 
   </ul> 


</div>
