<div class="row marketing">
  <div class="page-header" style="margin-top: 0px;">
    <h2 id="timeline">Publications</h2>
  </div>

  <h4 style="margin-top: 10px;">Conferences and Workshops </h4> 
  <ul style="list-style: none;">
    <li>
      <strong>Krittika D'Silva</strong>, Kasthuri Jayarajah, Anastasios Noulas, Cecilia Mascolo, Archan Misra. The Role of Urban Mobility in Retail Business Survival. Proceedings of the ACM on Interactive, Mobile, Wearable and Ubiquitous Technologies (Ubicomp '18). October 2018. Singapore. <a href="pdfs/DSilva_Ubicomp_2018">[pdf]</a>

    </li>
    <li> 
      Nicola Dell, <strong>Krittika D’Silva</strong>, and Gaetano Borriello. Mobile Touch-Free Interaction for Global Health. International Workshop on Mobile Computing Systems and Applications (HotMobile ’15). Feb 2015, Santa Fe, New Mexico. <a href="pdfs/Dell_HotMobile14.pdf">[pdf]</a> 
    </li>

    <li>   
      <strong>Krittika D’Silva</strong>, John Cagle, and Joan Sanders. Quantifying Variations in Prosthetic Sock Thickness with Use. Northwest Chapter Academy of Orthotists and Prosthetists Chapter Meeting. May 2013, Bellevue, Washington.
    </li>

    <li>   
      <strong>Krittika D’Silva</strong>, John Cagle, and Joan Sanders. Quantifying Variations in Prosthetic Sock Thickness over Time. Academy Annual Meeting and Scientific Symposium. February 2013, Orlando, Florida. <a href="pdfs/DSilva_OP_2014.pdf">[pdf]</a> 
    </li> 
  </ul> 

  <h4>Journals</h4>  
  <ul style="list-style: none;">
    <li>
      <strong>Krittika D'Silva</strong>, Anastasios Noulas, Mirco Musolesi Cecilia Mascolo, and Max Sklar. Predicting the temporal activity patterns of new venues. EPJ Data Science. May 2018. <a href="https://link.springer.com/epdf/10.1140/epjds/s13688-018-0142-z?author_access_token=5Z6yW850Yqq_Z0-VUOiuHosPkCdkOxEKPl2JoxdvwqGJiN3bFR4WDy3TrdZn3hVVoRiR7cO-yLO9OmMlEP-kAd3eTWeGaTylOlmLY_BPfG139svmNU0kkkILaRjUmakQuYppHzOss_KKrkaVX-FO6g%3D%3D">[pdf]</a>

    </li>
    <li>   
      John Cagle, <strong>Krittika D’Silva</strong>, Brian Hafner, Daniel Harrison, and Joan Sanders. Amputee socks: Sock thickness changes with normal use. Prosthetics and Orthotics International. December 2014. <a href="pdfs/Cagle_POI_2015.pdf">[pdf]</a>
    </li>
  </ul>

  <ul style="list-style: none;">
    <li>  
      <strong>Krittika D'Silva</strong>, Brian Hafner, Kate Allyn, and Joan Sanders. Self-reported prosthetic sock use among persons with transtibial amputation. Prosthetics and Orthotics International. July 2013. <a href="pdfs/DSilva_SIGSPATIAL_2018.pdf">[pdf]</a>
    </li>
  </ul> 
  
  <h4>Posters</h4> 
  <ul style="list-style: none;">
    <li>
      <strong>Krittika D'Silva</strong>, Anastasios Noulas, Mirco Musolesi, Cecilia Mascolo, Max Sklar. If I build it, will they come? Predicting new venue visitation patterns through mobility data. Poster in the Proceedings of the ACM International Conference on Advances in Geographic Information Systems (SIGSPATIAL). November 2017. Redondo Beach, California. <a href="pdfs/DSilva_DEV14.pdf">[pdf]</a> 
    </li>
    <li> 
      <strong>Krittika D'Silva</strong>, Meghana Marathe, Aditya Vashistha, Gaetano Borriello, and William Thies. A Mobile Application for Interactive Voice Forums: Design and Pilot Deployment in Rural India. Poster in The fifth annual Symposium on Computing for Development (DEV 2014). December 2014, San Jose, California. <a href="pdfs/DSilva_DEV14.pdf">[pdf]</a> 
    </li>
  </ul> 

</div>
