
<div class="row marketing">
  <div class="page-header" style="margin-top: 0px;">
    <h2 id="timeline">Scholarships and Awards</h2>
  </div>  

  <p>
    I have been fortunate to receive a handful of scholarships and awards over the past few years. If you'd like more information about any of the scholarships listed below, feel free to <a href="#/contact">contact me</a>.
  </p>

 <!-- TODO: Increase space between these - looks a little clustered --> 

 <b>Academic Awards</b>
 <ul style="list-style: none;">
  
    <li>  
      Russell/Thompson Legacy Mentorship Book Scholarship
    </li> 

    <li>  
      SWE Outstanding Female Departmental Award
    </li>

    <li> 
      Undergraduate Research Program, Levinson Scholarship  
    </li>
       
    <li>    
      University of Washington Presidential Scholarship
    </li> 

    <li>
      Priscilla and Melvin Wilson Endowed Scholarship
    </li>

    <li>
      American Academy of Orthotists & Prosthetists Northwest Chapter, Student Researcher Award
    </li>

    <li>
      Mary Gates Research Scholarship
    </li> 

    <li>
      Annual Dean’s List & Certificate of High Scholarship
    </li>

    <li>
      Duke of Edinburgh’s Silver Award
    </li>

    <li>
      British Columbia Provincial Scholarship
    </li>

    <li>
      Southridge Service Award
    </li>
 
  </ul> 

 