
<div class="row marketing">
  <div class="page-header" style="margin-top: 0px;">
    <h2 id="timeline">Scholarships and Awards</h2>
  </div>  

  <p>
    Like many, my experience as an undergraduate were formative and taught me a lot about myself. I learned quickly that I am a very goal oritented person: I have daily goals, monthly goals and yearly goals. I also have goals about places I'd like to visit that range from "Coffee Shops In Seattle I'd like to Visit" to "National Parks I'd like to hike in". 
  </p>

 <!-- TODO: Increase space between these - looks a little clustered --> 

 <b>Academic Goals</b>
 <ul style="list-style: none;">
  
    <li>  
      Russell/Thompson Legacy Mentorship Book Scholarship
    </li> 

    <li>  
      SWE Outstanding Female Departmental Award
    </li>

    <li> 
      Undergraduate Research Program, Levinson Scholarship  
    </li>  
  </ul> 

 <b>Personal Goals</b>
 <ul style="list-style: none;">
  
    <li>  
      Russell/Thompson Legacy Mentorship Book Scholarship
    </li> 

    <li>  
      SWE Outstanding Female Departmental Award
    </li>

    <li> 
      Undergraduate Research Program, Levinson Scholarship  
    </li>  
  </ul> 

 