
<div class="row marketing">
  <div class="page-header" style="margin-top: 0px;">
    <h2 id="timeline">Personal</h2>
  </div>  

  <p>
    I've been told I should add a little bit more infromation about myself. 
  </p>
 

 <div class="row">
            <div class="col-md-5 name selectable"> 
              <div class="single-item"> 
                <h3><a href="#/personal/leadership">Leadership</a></h3>  
              </div>
            </div>

            <div class="col-md-5 name selectable"> 
              <div class="single-item"> 
                <h3><a href="#/personal/awards">Scholarships & Awards</a></h3>  
              </div>
            </div>
          </div> 
</div>

 <div class="row">
            <div class="col-md-5 name selectable"> 
              <div class="single-item"> 
                <h3><a href="#/personal/goals">Future Goals</a></h3>   <!--Academic & Personal  -->
              </div>
            </div>

            <div class="col-md-5 name selectable"> 
              <div class="single-item"> 
                <h3><a href="#/personal/future">Miscellaneous</a></h3>   <!--I wans't really sure what I waned to include in this section. but, i definiely knew that I wasnted to keep the "person" made symmetrical. so, this page may change a little bit over time. But, for now, I thought i'd write a little bit about what I like to do in my spare time at UW. -->
              </div>
            </div>
          </div> 
</div>


<!-- TODO: Increase padding here -->
